	<div class="zui section space-50">
		<div class="inner">

			<form action="{base_url()}home/prosesdaftar" method="post" enctype="multipart/form-data">
				<div class="row">
					<div class="col-md-3"></div>	
					<div class="col-md-6">
						<div class="col-sm-12">
							<div class="zui form-label">Email</div>
							<input type="text" name="email" class="fullwidth">
						</div>

						<div class="col-sm-12">
							<div class="zui form-label">Password</div>
							<input type="text" name="password" class="fullwidth">
						</div>
						<div class="col-sm-12">
							<div class="zui form-label">Nama</div>
							<input type="text" name="nama" class="fullwidth">
						</div>
						<div class="col-sm-12">
							<div class="zui form-label">Tanggal lahir</div>
							<input type="text" name="dob" class="fullwidth">
						</div>

						<div class="col-sm-12">
							<div class="zui form-label">No Handphone</div>
							<input type="text" name="hp" class="fullwidth">
						</div>
						<div class="col-sm-12">
							<div class="zui form-label">Upload Foto</div>
							<input type="file" name="foto">
						</div>

						<div class="col-sm-12" style="margin-top:2%;">
							<input type="submit" class="fullwidth green" value="Register Sekarang">
						</div>
					</div>
				</div>

			</form>

		</div>
	</div>